html {
    height: 100%;
}
body{
	margin:0;
	padding:0;
	border:0;
}
* {
    box-sizing: border-box;
    outline: 0;
}
.text{
	color:white;
}
#bg{
	background-image:url(../img/xxx.jpg);
	position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
img.new
{
	width:auto;
	height:160px;
	box-shadow:rgb(0 0 0 / 3%) 0 10px 30px;
	transition:0.25s;
	-webkit-transition:0.25s; /* Safari */
	
}

img.new:hover
{
	box-shadow:rgb(0 0 0 / 30%) 0 10px 30px;
}